---
import ShowData from "./Trayectory_deploy";  // Asegúrate de que la extensión y el nombre sean correctos

interface Props {
    title: string;
    date: string;
    subtitle: string;
    body?: string;
    body_p_1?: string;
    body_p_2?: string;
}

const { title, date, subtitle, body, body_p_1, body_p_2 } = Astro.props;
---

<div class="flex gap-14 items-center">
    <!-- TODO: PUNTO -->
    <div class="bg-black rounded-full w-2 h-2 ml-1"></div>
    <!-- TODO: CARD -->
    <div class="flex w-full h-auto justify-between items-center">
        <div class="flex flex-col gap-6 text-black w-full">
            <div class="flex flex-col gap-0">
                <h2 class="text-2xl text-black font-bold">{title}</h2>
                <h3 class="text-brown text-lg font-medium">{subtitle}</h3>
                <span class="font-light text-sm">{date}</span>
            </div>
            {body ? <ShowData body={body} body_p_1={body_p_1} body_p_2={body_p_2} client:load /> : null}
        </div>
    </div>
</div>
